<div class="row p-3">
  <div class="uk-card uk-card-small uk-card-default">
      <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom uk-text-center">Categorias</h3>
              </div>
          </div>
      </div>
      <div class="uk-card-body">
        <div class="d-inline-flex flex-wrap justify-content-around">
          <% site.categories.forEach(categ => {%>
          <a class="badge badge-secondary text-uppercase font-italic card-fast flow-animation m-1" href = <%-config.root + categ.path%> style="white-space: normal;">
          #<%- categ.name %></a>
        <%})%>
        </div>
      </div>
  </div>
</div>
