<%
  var auxCat;
%>
<div class="container">
  <div class="nav justify-content-end">
<div class="row">
  <div class="col-3">
  <div class="card text-center" style="width: 12rem;">
    <div class="card-header">
    Categorias
  </div>
  <div class="card-body">
    <div class="col-sm-">
    <blockquote class="blockquote mb-0">
          <% site.categories.forEach(categ => {%>
            <%auxCat = config.root + categ.path;%>
            <a class="btn btn-link" href = <%-auxCat%>>
              <%- categ.name %>
            </a>
            <br>
      <%})%>
    </blockquote>
  </div>
  </div>
