<div class="uk-card">
            <img class="uk-card-media-top" src="<%- item[1] %>" width="350" height="550"  class="rounded" alt="...">
           
          <div class="uk-card-body ">
            <div class="uk-card-title">
                <a href="<%- item[2] %>" class="stretched-link"> <%- item[0] %></a>

            </div>
          </div>
</div>
    

