<% max = (page.posts.data.length > 3) ? 3 : page.posts.data.length; %>
<% for(i = 0; i < max; i++){ %>
  <div class="col-sm-12 col-md-4 w-100">
      <div class="card border-0">

          <a href="<%- config.root %><%- page.posts.data[i].path %>" style="text-decoration: none">

            <div class="card-body shadow p-0">

              <div class="d-flex flex-column card-body post-preview" style="min-height: 300px">

                <div class="pl-2">
                  <h5 class="card-title"><%- page.posts.data[i].title %></h5>
                  <p class="card-text">Um exemplo de texto</p>
                </div>


                  <div class="mt-auto d-flex flex-wrap p-0 align-items-center">
                    <img src="https://s2.glbimg.com/gsDAfkE5uDLlbz60DNBBExkbRaY=/1200x/smart/filters:cover():strip_icc()/s.glbimg.com/po/rc/media/2014/11/10/23_55_45_120_Pastel.png" style="width:50px; height:50px;" class="rounded-circle float-left img-thumbnail" alt="...">
                    <p class="h5 pl-2 pb-3 align-center" style="color:gray">Pastel anônimo</p>
                    <p class="meta h6 d-flex ml-auto mb-0"> <i class="fa fa-clock-o"></i>&nbspPostado em DD/MM/YYYY</p>
                  </div>



              </div>

            </div>
          </a>
     </div>
</div>
<% }; %>
